<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="/img/favicon.ico" sizes="16x16 32x32 48x48" type="image/x-icon" />
  <link rel="icon" href="/img/favicon-256.png" sizes="256x256" type="image/png" />
  <link rel="icon" href="/img/favicon-512.png" sizes="512x512" type="image/png" />
  <link rel="fluid-icon" href="/img/favicon-512.png" title="tear&bull;down">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicon-152.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon-144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicon-120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/img/favicon-114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon-72.png" />
  <link rel="apple-touch-icon-precomposed" href="/img/favicon-57.png" />
  {% if description %}
  <meta name="description" content="{{ description }}" />
  <meta property="og:description" content="{{ description }}" />
  {% endif %}
  {% if ogimage %}<meta property="og:image" content="/img/{{ ogimage }}" />{% endif %}
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="tear&bull;down" />
</head>

<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFFFF">{% block body %}{% endblock %}</body></html>
