{% extends "base.jinja" %}
{% block content %}
<div class="jumbotron">
  <h1>About</h1>
  <p>We at <a href="https://levidrone.com" target="_blank">LeviDrone</a> love to explore the internals of electronics devices.</p>
  <h2>We aim to:</h2>
  <p><span class="badge badge-pill badge-success">1</span> <strong>Investigate and promote state of the art schematic solutions</strong></p>
  <p><span class="badge badge-pill badge-success">2</span> <strong>Find new applications for useful things</strong></p>
  <p><span class="badge badge-pill badge-success">3</span> <strong>Fill the lack of information about some undocumented components</strong></p>
  <h2>We don't aim to:</h2>
  <p><span class="badge badge-pill badge-danger">1</span> <strong>Violate patents and intellectual property of third parties</strong></p>
  <p><span class="badge badge-pill badge-danger">2</span> <strong>Make you to break warranty terms and conditions</strong></p>
  <p><span class="badge badge-pill badge-danger">3</span> <strong>Do any harm to anyone</strong></p>
  <h3>All content provided is for informational purposes only.</h3>
</div>
{% endblock %}
