{% extends "base.jinja" %}
{% block body %}
<table height="100%" width="100%" align="center" border="0"><tbody><tr><td align="center"><center><img src="/img/tear-down-logo-curves.svg" width="200" alt="tear•down"></center></td></tr></tbody></table>
{% endblock %}
