.header {
    line-height: 1;
    border-bottom: 1px solid #CCCCCC;
}

.content {
    margin: 20px;
}

.jumbotron>h1 {
    margin-top: 0;
}

.container-fluid .jumbotron,.jumbotron {
    border-radius: 10px;
}